/* ================= FOOTER ================= */

.footer{
    background:#1e293b;
    color:white;
    margin-top:60px;
}

.footer-container{
    max-width:1300px;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:40px;
    padding:50px 40px;
}

.footer-section h2{
    color:#60a5fa;
    margin-bottom:15px;
}

.footer-section h3{
    color:#60a5fa;
    margin-bottom:15px;
}

.footer-section p{
    color:#cbd5e1;
    line-height:1.8;
    font-size:15px;
}

.footer-section ul{
    list-style:none;
    padding:0;
}

.footer-section ul li{
    margin-bottom:12px;
}

.footer-section ul li a{
    color:#cbd5e1;
    text-decoration:none;
    transition:.3s;
}

.footer-section ul li a:hover{
    color:white;
    padding-left:8px;
}

.footer-bottom{
    border-top:1px solid rgba(255,255,255,.1);
    text-align:center;
    padding:20px;
    color:#94a3b8;
    font-size:14px;
}

@media(max-width:768px){

    .footer-container{
        padding:40px 20px;
        text-align:center;
    }

}